body {
  margin: 0;
}

a, a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

/* Navigation bar */

header {
  background-color: #1f2937;
  padding: 1em 15%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1em;
  margin: 0;
  padding: 0;
}

nav ul li:first-child {
  margin-right: auto;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 5em;
}

/* Hero section */

.hero-container {
  display: flex;
  gap: 3em;
  justify-content: space-between;
}

.hero-container img {
  height: auto;
  max-width: 50%;
  flex: 1 1 0;
  align-self: flex-start;
}

.hero-content h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.hero-content p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content button {
  background-color: #3882f6;
  color: #e5e7e5;
  font-size: 18px;
  border: none;
  padding: 0.5em 2em;
  border-radius: 10px;
}

/* Random info section */

.random-info {
  padding: 1em 15%;
}

.random-info h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

.random-info ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
}

figure {
  margin: 0;
  width: 200px;
}

.info-list img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.info-list figcaption {
  text-align: center;
}

